.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.done-true {
    text-decoration: line-through;
    color: #ddd;
}
.form-control[disabled], .form-control[readonly], .fieldset[disabled], .form-control {
    cursor: pointer;
    background-color: white;
}

.glyphicon.fast-right-spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
    font-size: 20px;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

img {
    width: 100%;
    height: auto;
}